// [ct]    = inherited from views/pages/[page].liquid.haml
// [cltn]  = inherited from views/pages/[page].liquid.haml

.container.u-spacer.u-after-site-nav
  {% if contents.[cltn].size > 0 %}

  // Editable text must be wrapped within a block for correct engine rendering
  {% block 'header' %}
  %header.listings-header
    %h1.listings-header__title {{ page.title }}
    %p.listings-header__intro
      {% editable_text page_intro, label: "Page Intro", hint: "What is this page about?" %}
      We’ve tried to keep track of the interesting things that go on day by day as best we can, and this is where we scribble it all down.
      {% endeditable_text %}
  {% endblock %}

  // Bring in the pagination results
  {% include 'listing_pagination' %}

  {% else %}
  %header.listings-header
    %h2.listings-header__title No more journals!
  {% endif %}
