.site-drawer.u-show-for-small
  .site-drawer__close
  // Get site.pages list structure
  {% include 'site_pages_list' with list_class: 'site-drawer__list', item_class: 'site-drawer__list-item', link_class: 'site-drawer__link' %}
