@include bp-x-small {

  .p-banner {
    height: 60vh;
    min-height: 40rem;
    max-height: 60rem;
    position: relative;
    text-align: center;
    padding-top: 7.2rem;
    background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 75%);

    & img {
      width: 100%;
      height: auto;
      min-height: 30rem;
      max-height: 56rem;
      object-fit: cover;
    }

    &__background {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }

    &__location {
      color: $white;
      font-size: 1.3rem;
      font-weight: 700;
      letter-spacing: 0.03rem;
      text-transform: uppercase;
      margin-bottom: 3rem;
      text-shadow: 0 0 10px rgba(0,0,0,0.75);
    }

    &__title {
      color: $white;
      font-size: 3.8rem;
      font-weight: 800;
      letter-spacing: -0.08rem;
      line-height: 1.18;
      text-shadow: 0 0 10px rgba(0,0,0,0.75);
    }

    &__teaser {
      color: $white;
      font-size: 2.7rem;
      font-weight: 300;
      font-family: $serif_font;
      font-style: italic;
      margin-bottom: 3rem;
      text-shadow: 0 0 10px rgba(0,0,0,0.75);
    }

    &__button {
      font-family: $sans_font;
      font-size: 1.3rem;
      font-weight: 700;
      letter-spacing: 0.03rem;
      display: inline-block;
      padding: 1rem 2.6rem;
      background-color: $primary_color;
      border-radius: 0.2rem;
      border-bottom: 0.3rem solid #D72323;
      color: $white;
      text-transform: uppercase;
      margin-top: 3rem;
      box-shadow: 0 0 3rem 1rem rgba(0,0,0,0.5);

      &:hover {
        color: rgba(255,255,255,0.8);
      }
    }
  }
}

@include bp-medium {

  .p-banner {
    height: 80vh;
    min-height: 40rem;
    max-height: 80rem;
    padding-top: 11rem;

    &__title {
      font-size: 6.8rem;
      margin-bottom: 2rem;
    }

    &__button {
      padding: 1.4rem 3rem;
      margin-top: 0;
    }
  }
}
