@include bp-x-small {

  .site-nav {
    position: absolute;
    width: 100%;
    z-index: 5;

    & .flexbox {
      border-bottom: 0.1rem solid #e4e4e4;
    }

    & .flexbox--light {
      border-bottom: 0.1rem solid rgba(255, 255, 255, 0.3);
    }

    &__logo {
      display: block;
      font-size: 2.4rem;
      font-weight: 600;
      color: $secondary_color;
      letter-spacing: -0.048rem;
      text-transform: uppercase;
      padding: 1rem 0;

      & svg {
        height: 4.8rem;
        width: auto;
        fill: $secondary_color;
      }

      &--white {
        & svg {
          fill: $white;
        }
      }
    }

    &__list {
      line-height: 11rem;
    }

    &__link {
      display: block;
      color: $secondary_color;
      font-size: 1.4rem;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 0.03rem;

      &:hover {
        color: $secondary_color_hover;
      }

      &--white {
        color: $white;

        &:hover {
          color: $white_hover;
        }
      }
    }

    &__list-item {
      display: inline-block;

      &:not(:first-of-type) {
        margin-left: 3rem;
      }

      &--active {
        box-shadow: 0 -0.1rem $primary_color inset, 0 0.1rem $primary_color;
      }
    }

    &__hamburger {

      &__group {
        height: 4rem;
        width: 4rem;
        position: relative;
      }

      &__icon {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 80%;
        height: 0.4rem;
        background-color: $secondary_color;

        &::before, &::after {
          content: "";
          position: absolute;
          top: -1rem;
          width: 100%;
          height: 0.4rem;
          background-color: $secondary_color;
        }

        &::after {
          top: 1rem;
        }

        &--white {
          @extend .site-nav__hamburger__icon;
          background-color: $white;

          &::before, &::after {
            background-color: $white;
          }
        }
      }
    }
  }
}

@include bp-medium {

  .site-nav {
    &__logo {
      padding: 0;

      & svg {
        height: 6.4rem;
      }
    }
  }
}
