---
title: Home page
published: true
handle: home
---

{% extends 'layouts/default' %}
{% block content %}

.p-banner
  .container.u-center-group
    {% for journal in contents.journals %}
    // Only render the last (latest) journal here
    {% if forloop.last == true %}
    //%img.p-banner__image(src="{{ journal.image.url }}" alt="{{ journal.title | escape }}")
    .p-banner__background(style="background-image: url({{ journal.image.url }})")
    .u-group
      .p-banner__location
        %i.fa.fa-map-marker
        {{ journal.location.city }}, {{ journal.location.country }}
      .p-banner__title {{ journal.title }}
      .p-banner__teaser.u-hide-for-small {{ journal.teaser }}
      %a.p-banner__button(href="{% path_to journal %}") Read More
    {% endif %}
    {% endfor %}

.container.u-spacer
  // JOURNAL journals
  {% if contents.journals.size > 0 %}
  %section.container__half.u-ifl
    %h2.listings-header__title Latest journals
    %section.listings-body
      %ul.article-list
        {% for journal in contents.journals %}
        // Render all but the last (latest) journals here
        {% if forloop.last == false %}
        %li.article-item--small
          %a.article-item__link(href="{% path_to journal %}")
            %img.article-item__thumbnail--small(src="{{ journal.image.url }}" alt="{{ journal.title | escape }}")
            .article-item__body--small
              .article-item__title {{ journal.title }}
              .article-item__summary {{ journal.teaser }}
              .article-item__meta
                .u-group--unstyled
                  .article-item__date
                    %i.fa.fa-clock-o
                    {{ journal.posted_at | date: '%a %d %b %Y' }}
        {% else %}
        %li.article-item--small
          .article-item__body--small
            .article-item__title More coming soon!
        {% endif %}
        {% endfor %}
    {% else %}
    %section.container__half.u-ifl
      %h2.listings-header__title Latest journals
      %p More coming soon!
    {% endif %}

  // SNAPSHOTS
  {% if contents.snapshots.size > 0 %}
  %section.container__half
    %h2.listings-header__title Latest snapshots
    %section.listings-body
      %ul.article-list
        {% for snapshot in contents.snapshots %}
        %li.article-item--small
          %a.article-item__link(href="{% path_to snapshot %}")
            %img.article-item__thumbnail--small(src="{{ snapshot.image.url }}" alt="{{ snapshot.title | escape }}")
            .article-item__body--small
              .article-item__title {{ snapshot.title }}
              .article-item__summary {{ snapshot.teaser }}
              .article-item__meta
                .u-group
                  .article-item__date
                    %i.fa.fa-clock-o
                    {{ snapshot.posted_at | date: '%a %d %b %Y' }}
        {% endfor %}
    {% else %}
    %section.container__half
      %h2.listings-header__title Latest snapshots
    {% endif %}

{% endblock %}
