---
title: Journal
listed: true
published: true
handle: journal
---

{% extends 'layouts/default' %}
{% block content %}

{% include 'listing' with content_type: 'journal', collection: 'journals' %}

{% endblock %}
