---
title: Journal
listed: true
published: true
handle: journal
---

{% extends 'layouts/default' %}
{% block content %}

// Store the content_type as "ct" for use in snippets
{% assign ct = "journal" %}
// Store the collection as "cltn" for use in snippets
{% assign cltn = "journals" %}

{% include 'listing' %}

{% endblock %}
