---
title: Journal
listed: true
published: true
handle: journal
---
{% extends 'layouts/default' %}
{% block content %}

.container.u-spacer.u-after-site-nav
  {% if contents.journals.size > 0 %}
  %header.listings-header
    %h1.listings-header__title Journal
    %p.listings-header__intro We’ve tried to keep track of the interesting things that go on day by day as best we can, and this is where we scribble it all down.

  {% paginate contents.journals by 10 %}
  %section.listings-body
    %ul.article-list
      {% for journal in paginate.collection %}
      %li.article-item
        %a.article-item__link(href="{% path_to journal %}")
          %img.article-item__thumbnail(src="{{ journal.image.url }}" alt="{{ journal.title | escape }}")
          .article-item__body
            .article-item__title {{ journal.title }}
            .article-item__summary {{ journal.teaser }}
            .article-item__meta
              .article-item__author
                %img.article-item__author__image(src="{{ journal.author.image.url }}" alt="{{ journal.author.first_name | escape }}")
                .article-item__author__name
                  %span by
                  {% for author in journal %}
                  {{ author.first_name }}
                  {% endfor %}
              .u-group
                .article-item__date
                  %i.fa.fa-clock-o
                  {{ journal.journaled_at | date: '%a %d %b %Y' }}
                .article-item__location
                  %i.fa.fa-map-marker
                  {{ journal.location.city }}, {{ journal.location.country }}
      {% endfor %}

    .listings-pagination
      .listings-pagination__entries.u-hide-for-small
        {% if paginate.per_page > paginate.total_entries %}
        Showing {{ paginate.total_entries }} of {{ paginate.total_entries }} journal entries
        {% else %}
        Showing {{ paginate.per_page }} of {{ paginate.total_entries }} journal entries
        {% endif %}
      .listings-pagination__controls
        .listings-pagination__pages Page {{ paginate.current_page }} of {{ paginate.total_pages }}
        {% if paginate.previous %}
        %a.listings-pagination__button(href="?page={{ paginate.previous_page }}")
          %i.fa.fa-chevron-left
          Previous
        {% else %}
        %a.listings-pagination__button.u-disabled
          %i.fa.fa-chevron-left
          Previous
        {% endif %}
        {% if paginate.next %}
        %a.listings-pagination__button(href="?page={{ paginate.next_page }}")
          Next
          %i.fa.fa-chevron-right
        {% else %}
        %a.listings-pagination__button.u-disabled
          Next
          %i.fa.fa-chevron-right
        {% endif %}
  {% endpaginate %}

  {% else %}
  %header.listings-header
    %h2.listings-header__title No more journals!
  {% endif %}

{% endblock %}
