---
title: Snapshots
listed: true
published: true
handle: snapshots
---

{% extends 'layouts/default' %}
{% block content %}

// Store the content_type as "ct" for use in snippets
{% assign ct = "snapshot" %}
// Store the collection as "cltn" for use in snippets
{% assign cltn = "snapshots" %}

{% include 'listing' %}

{% endblock %}
